<nav class="bg-blue-900 p-4 flex justify-between items-center">
  <!-- Logo a la izquierda -->
  <div class="flex items-center">
    <img src="assets/imagen.png" alt="Logo" class="h-14 w-auto mr-2" height="86" width="219" routerLink="/">
  </div>

  <!-- Elementos a la derecha -->
  <div class="flex items-center space-x-4">
    <a routerLink="/personas" class="text-white">Regístrate</a>
    <a routerLink="/crear-articulo" class="text-white border-2 border-white p-2">Iniciar Sesión</a>

  </div>
</nav>

<button routerLink="/perfil">Perfil</button>
