<div
  class="h-full flex flex-row pl-72 pr-72 pt-28 pb-28 bg-gradient-to-bl from-blue-600 via-white to-yellow-400 font-thin">
  <div class="flex-1 p-8 rounded-bl-2xl rounded-tl-2xl border-solid border-gray-300 box-border bg-white h-full">
    <div class="flex justify-center">
      <a href="#"><img class="h-12" src="./assets/logo.png"></a>
    </div><br>
    <form class="container leading-6 pl-10 pr-10">
      <div class="mb-4">
        <h2 class="mb-4 text-center font-extrabold">HOLA VIAJERO!</h2>
        <label class="mb-2 block">Correo electrónico</label>
        <input type="email" id="email" class="mb-4 p-2 border border-gray-300 rounded w-full"
          placeholder="Correo electrónico">
        <label class="mb-2 block">Contraseña</label>
        <input type="password" id="password" class="mb-4 p-2 border border-gray-300 rounded w-full"
          placeholder="Contraseña">
        <div class="text-center">
          <button type="button" (click)="onLoginClick()"
            class="mb-4 p-2 text-white rounded bg-amber-400 font-semibold shadow-md w-4/12">Ingresar</button>
          <p class="mb-2">¿No tienes una cuenta?</p>
          <a routerLink="register" class="mb-4 text-blue-600 underline">Regístrate</a>
        </div>
      </div>
    </form>

  </div>
  <div class="flex-1 p-0 rounded-br-2xl rounded-tr-2xl border-solid border-gray-300 box-border overflow-hidden">
    <img class="w-full h-full object-cover" src="./assets/viajeros.png" alt="Imagen de fondo">
  </div>
</div>