<div class="p-6 mt-1 flex items-center justify-center  text-black text-center font-poppins text-5xl ">
  Lugares
</div>


<div class="w-full h-full bg-gray-200 flex-auto justify-center align-items-center" style="width: 100vw; height: 100vw">


  <form style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 10px">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
      style="background-color: #FFFFFF">Buscar</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input type="search" id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Busque su lugar favorito" required style="::placeholder { color: black; }">
      <button type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
  </form>





  <div class="flex mx-20 flex-wrap items-start mt-1">
    <div class="mx-1 w-full pl-5 lg:pl-2 mb-4 mt-4">
      <h1 class="text-3xl font-extrabold text-center"> Resultados de tu busqueda </h1>
    </div>
    <div *ngFor="let place of responseData" class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
      <button type="button" (click)="mostrarDetallesPlace(place)"
        class="bg-white m-h-64 pb-5 transform hover:translate-y-2 hover:shadow-xl transition duration-300 rounded-2xl">
        <figure class="mb-2 ">
          <img src="assets/manarola.jpg" alt="" class="h-64 ml-auto mr-auto rounded-2xl" />
        </figure>
        <div class="rounded-lg p-4 flex flex-col">
          <div>
            <div class="items-center m-3 mx-4">
              <img src="assets/img_1.png" class="w-7 h-7 mx-auto" alt="imagen de usuario">
            </div>
            <h5 class="text-2xl font-bold leading-none text-center"> {{place.city}}, {{place.country}} </h5>
          </div>
        </div>
      </button>
    </div>


  </div>


</div>