img.rio{
  width: 100%;
  height: 640px;
  position: relative;
}

div > h3{
  position:absolute;
  right: 150px;
  top: 300px;
  text-align: center;
  font-size: xxx-large;
  color: white;
  font-weight: bold;
}

div > button.rioBtn{
  position: absolute;
  background-color: #e3b012;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  color:white;
  font-weight: bolder;
  right: 310px;
  top: 500px;
}
