<app-navbar></app-navbar>
<div class="flex flex-col">
  <img src="./assets/rio.png" alt="Imagen del login" class="rio">
  <h3>Brasil <br><br> Donde El Sol, La Playa y <br><br> La Samba te esperan </h3>
  <button type="button" class="rioBtn">VER MÁS</button>
</div>


<div class="flex p-6 font-thin">
  <div class="w-2/12 p-6 bg-gray-200 rounded-2xl leading-6 ">
    <div class="">
      <h1 class="font-medium text-blue-900 text-2xl"><strong>Artículos</strong></h1><br>
      <Label class="font-medium">Ordenado por</Label><br>
      <select class="mb-4 p-2 border border-gray-300 rounded w-full">
        <option>opcion1</option>
        <option>opcion2</option>
        <option>opcion3</option>
        <option>opcion4</option>
      </select><br>
      <label class="font-medium">Ciudad</label><br>
      <select class="mb-4 p-2 border border-gray-300 rounded w-full">
        <option>opcion1</option>
        <option>opcion2</option>
      </select><br>
      <label class="font-medium">País</label><br>
      <select id="countries" name="countries " class="mb-4 p-2 border border-gray-300 rounded w-full">
        <option value="peru">Perú</option>
        <option value="brasil">Brasil</option>
        <option value="argentina">Argentina</option>
        <option value="chile">Chile</option>
        <option value="bolivia">Bolivia</option>
        <option value="venezuela">Venezuela</option>
        <option value="ecuador">Ecuador</option>
        <option value="honduras">Honduras</option>
        <option value="uruguay">Uruguay</option>
        <option value="paraguay">Paraguay</option>
        <option value="panama">Panama</option>
        <option value="salvador">El Salvador</option>
      </select><br>
    </div>

  </div>
  <div class="w-7/12 p-6 ">
    <div *ngFor="let article of displayedData" class="flex pl-6 pr-6 m-4">
      <img class="w-4/12 rounded-2xl" [src]="article.imagePath || './assets/grecia.png'" alt="{{ article.description }}"
        src="./assets/grecia.png">
      <div class="pl-4 pt-2">
        <span class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>
          <p class="font-medium pl-2">{{ article.city }}, {{ article.country }}</p><br>
        </span><br>
        <h1 class="font-medium text-lg">{{ article.description }}</h1><br><br>
        <span class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <p class="pl-2"></p>
        </span><br>

      </div>
    </div>



    <!-- <span class="flex justify-center">
      <button type="button" class="mb-4 p-2 text-white rounded bg-amber-400 m-2 font-semibold">Previous</button>
      <button type="button" class="mb-4 p-2 text-white rounded bg-amber-400 m-2 font-semibold">1</button>
      <button type="button" class="mb-4 p-2 text-white rounded bg-amber-400 m-2 font-semibold">Next</button>
    </span> -->

  </div>
  <div class="linea h-100 border-l-2 border-gray-300 ml-4"></div>
  <div class="w-4/12 p-4 ">
    <h1 class="font-medium text-blue-900 text-2xl"><strong>Buscar Personas</strong></h1><br>
    <div class="pl-8">
      <div class="flex">
        <div class="rounded-full h-20 w-20 overflow-hidden">
          <img class="w-full h-full object-cover" src="assets/perfilSIT.png">
        </div>
        <div class="pl-6 leading-7">
          <h1 class="text-lg"><strong>Carlos Ruiz Guarniz</strong></h1>
          <p>Madrid, España</p>
          <span class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="pl-2">Español, Inglés</p>
          </span><br>
        </div>
      </div>
      <div class="flex">
        <div class="rounded-full h-20 w-20 overflow-hidden">
          <img class="w-full h-full object-cover" src="assets/perfilSIT.png">
        </div>
        <div class="pl-6 leading-7">
          <h1 class="text-lg"><strong>Carlos Ruiz Guarniz</strong></h1>
          <p>Madrid, España</p>
          <span class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="pl-2">Español, Inglés</p>
          </span><br>
        </div>
      </div>
      <div class="flex">
        <div class="rounded-full h-20 w-20 overflow-hidden">
          <img class="w-full h-full object-cover" src="assets/perfilSIT.png">
        </div>
        <div class="pl-6 leading-7">
          <h1 class="text-lg"><strong>Carlos Ruiz Guarniz</strong></h1>
          <p>Madrid, España</p>
          <span class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="pl-2">Español, Inglés</p>
          </span><br>
        </div>
      </div>
      <div class="flex">
        <div class="rounded-full h-20 w-20 overflow-hidden">
          <img class="w-full h-full object-cover" src="assets/perfilSIT.png">
        </div>
        <div class="pl-6 leading-7">
          <h1 class="text-lg"><strong>Carlos Ruiz Guarniz</strong></h1>
          <p>Madrid, España</p>
          <span class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="pl-2">Español, Inglés</p>
          </span><br>
        </div>
      </div>
      <div class="flex">
        <div class="rounded-full h-20 w-20 overflow-hidden">
          <img class="w-full h-full object-cover" src="assets/perfilSIT.png">
        </div>
        <div class="pl-6 leading-7">
          <h1 class="text-lg"><strong>Carlos Ruiz Guarniz</strong></h1>
          <p>Madrid, España</p>
          <span class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <p class="pl-2">Español, Inglés</p>
          </span><br>
        </div>
      </div>
      <div class="flex justify-center">
        <button type="button" class="mb-4 p-2 w-5/12 text-white rounded bg-amber-400 font-semibold">VER MÁS</button>
      </div>
    </div>
  </div>
</div>