.flex {
  display: flex;
  flex-wrap: wrap;
}

h2.principal{
  font-size: xx-large;
}

h2.name{
  margin-top: 25px;
  font-size: 30px;
}

h4.info{
  margin-right: 80px;
}

div.imgs{
  display: flex;
  flex-direction: column;
  position: relative;
}

.mat-mdc-tab-header{
  background-color: #dbbd5a;
}

img.perfilImgs{
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin: 5px 10px;
}

button{
  width: 250px;
  height: 250px;
}

mat-card{
  margin-left: 30px;
}

mat-card > img{
  width: 250px;
  height: 250px;
}
